<div class="bottom-nav">

  <div class="nav-item" data-page="index.html">
    <a href="index.html">
      <img src="assets/img/home.png" alt="Home">
    </a>
  </div>

  <div class="nav-item" data-page="search.html">
    <a href="search.html">
      <img src="assets/img/search.png" alt="Search">
    </a>
  </div>

  <div class="fab-wrapper">
    <a href="scanwajah.html" class="fab animate-pulse">
      <img src="assets/img/scanwajah.png" alt="Scan Wajah">
    </a>
  </div>

  <div class="nav-item" data-page="favorite.html">
    <a href="favorite.html">
      <img src="assets/img/heart.png" alt="Favorite">
    </a>
  </div>

  <div class="nav-item" data-page="profile.html">
    <a href="profile.html">
      <img src="assets/img/user.png" alt="Profile">
    </a>
  </div>

</div>
