
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
    background: #FAFAFA;
  }

  .back-btn {
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .title {
    font-size: 18px;
    font-weight: 600;
    color: #222;
    margin-bottom: 25px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    display: block;
    margin-bottom: 8px;
  }

  input[type="number"],
  select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #E5E5E5;
    font-size: 14px;
  }

  /* RADIO BUTTON STYLE */
  .option-row {
    background: white;
    padding: 12px 15px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .yn-buttons {
    display: flex;
    gap: 20px;
  }

  input[type="radio"] {
    accent-color: #447DCE;
    width: 18px;
    height: 18px;
  }

  .section-title {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 600;
    color: #111;
  }

  .btn-send {
    margin-top: 30px;
    width: 100%;
    background: #093A73;
    padding: 14px;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }

  .back-btn {
  background: #447DCE;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

